.header{
    padding: 150px 50px;
    background-color: #3e595e;
    span {
        padding: 97px 542px;
        background: url('../../assets/logo.png') center center no-repeat;
        background-size: cover;
        display: block;
        margin: 0 auto;
    }
}
